/* Remove default margins and paddings introduced by the browser */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #fff; /* Set background to white */
  overflow: hidden; /* Optional: to prevent scrollbars if not needed */
}

/* Set up the container to use all available space and have a white background */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns, each taking up half of the container width */
  grid-template-rows: 1.5fr 0.8fr; /* Top row is larger than the bottom row */
  gap: 1rem; /* Space between grid items */
  height: 100%; /* Fill the height of the viewport */
  width: 100%; /* Fill the width of the viewport */
  background: #fff; /* Set background to white */
  /* Other styles... */
}

/* Ensure individual grid items fill their cells and have a white background */
.container > div {
  background: #fff; /* Set background to white */
  /* Add other styling as needed */
}

.machine-list-item {
  font-size: 1.2em; /* Adjust this value as needed */
}

/* If there are headers or specific sections, you may want to target them separately */
.machine-list .header {
  font-size: 1.4em; /* Adjust this value as needed for headers */
}


.header {
  font-weight: bold;
  padding-bottom: 10px; /* space between header and items */
  border-bottom: 2px solid #ccc; /* line under headers */
}